<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="REMITimedService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="DBControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup></configSections>
  <appSettings>
    <add key="DestinationEmails" value="remi@blackberry.com,tsdinfrastructure@blackberry.com" />
    <add key="FromEmail" value="remiTimedService@blackberry.com" />
    <add key="JIRALink" value="https://test-jira.bbqnx.net/" />
    <add key="TemplateFile" value="\\rem002ykf\Templates\QRAExecutiveSummary.docx" />
    <add key="TemplateFileName" value="QRAExecutiveSummary.docx" />
    <add key="DocCreationFolder" value="\\fsg52ykf\ReliabilityReportGenerator\Reports\" />
    <!--<add key="JIRALink" value="https://jira.bbqnx.net/"/>-->
  </appSettings>
  <connectionStrings>
    <add name="JiraDBConnectionString" connectionString="Data Source=SQL63CNC\G1;Initial Catalog=DefectReporting;user id=remi;password=RemiReader" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <REMITimedService.My.MySettings>
      <setting name="IntervalMinutes" serializeAs="String">
        <value>15</value>
      </setting>
    </REMITimedService.My.MySettings>
  </userSettings>
  <system.net>
    <defaultProxy>
      <proxy bypassonlocal="True" usesystemdefault="False" />
    <bypasslist>
        <add address="rem002ykf" />
        <add address="rem002cnc" />
        <add address="rem001cnc" />
        <add address="rem001fll" />
      </bypasslist></defaultProxy>
    <mailSettings>
      <smtp>
        <network host="smtp-ca.rim.net" password="Zaq12wsx" userName="remi" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
<applicationSettings>
  <DBControl.Properties.Settings>
   <setting name="DBControl_DataPush_DataPush" serializeAs="String">
    <value>http://rem002ykf/webservice/DataPush.asmx</value>
   </setting>
   <setting name="DBControl_Configuration_Configuration" serializeAs="String">
    <value>http://rem002ykf/webservice/Configuration.asmx</value>
   </setting>
   <setting name="DBControl_remiAPI_RemiAPI" serializeAs="String">
    <value>http://rem002ykf/webservice/RemiAPI.asmx</value>
   </setting>
   <setting name="DBControl_VersionCheck_VersionCheck" serializeAs="String">
    <value>http://rem002ykf/webservice/VersionCheck.asmx</value>
   </setting>
  </DBControl.Properties.Settings>
</applicationSettings></configuration>
