<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="userName" value="ogaudreault"/>
    <add key="DefaultRequestNumber" value="QRA-XX-TEST"/>
    <add key="ChartImageHandler" value="storage=memory;timeout=20;deleteAfterServicing=false;privateImages=false"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="10000"/>
    <add key="TRSLinkCreationString" value="http://hwqaweb/pls/trs/data_entry.main?formMode=VIEW&amp;rqId="/>
    <add key="DropTestWebAppLink" value="https://hwqaweb.rim.net/relab_alpha/webforms_drop.drop_report?printable=false&amp;p_arg="/>
    <add key="TumbleTestWebAppLink" value="https://hwqaweb.rim.net/relab_alpha/web_tumble_forms.tumble_report?printable=false&amp;p_arg="/>
    <add key="BaseDropTestLink" value="http://go/droptest"/>
    <add key="BaseTRSLink" value="http://go/trs"/>
    <add key="MfgWebLink" value="http://mfgweb/rimsouth/unitinformation?unitrpt=history&amp;ex_id="/>
    <add key="RemiBatchInfoLink" value="ScanForInfo/Default.aspx"/>
    <add key="RemiProductGroupLink" value="ScanForInfo/ProductGroup.aspx"/>
    <add key="RemiUnitInfoLink" value="ScanforInfo/Unit.aspx"/>
    <add key="RemiExceptionsLink" value="ManageBatches/EditExceptions.aspx"/>
    <add key="RemiSetBatchStatusLink" value="ManageBatches/modifystatus.aspx"/>
    <add key="RemiSetBatchCommentsLink" value="ManageBatches/modifyComments.aspx"/>
    <add key="RemiSetBatchPriorityLink" value="ManageBatches/modifyPriority.aspx"/>
    <add key="RemiSetBatchSpecificTestDurationsLink" value="ManageBatches/ModifyTestDurations.aspx"/>
    <add key="RemiSetTestUnitExceptionsLink" value="ManageTestUnits/edittestunitexceptions.aspx"/>
    <add key="RemiSetProductExceptionsLink" value="Manageproducts/editproductexceptions.aspx"/>
    <add key="RemiSetProductSettingsLink" value="Manageproducts/editproductsettings.aspx"/>
    <add key="RemiSetProductConfigLink" value="Manageproducts/editproductconfig.aspx"/>
    <add key="RemiSetStationConfigLink" value="ManageTestStations/editStationConfig.aspx"/>
    <add key="RemiSetBatchTestStageLink" value="ManageBatches/modifyteststage.aspx"/>
    <add key="RemiTestRecordsEditDetailLink" value="testrecords/editdetail.aspx"/>
    <add key="RemiScannerProgrammingLink" value="manageteststations/ScannerCodes.aspx"/>
    <add key="RemiTrackingLocationInfoLink" value="manageteststations/TrackingLocation.aspx"/>
    <add key="RemiTestRecordsLink" value="testrecords/default.aspx"/>
    <add key="RemiTestRecordsAddLink" value="testrecords/add.aspx"/>
    <add key="RemiUserScanBadgeLink" value="badgeaccess/default.aspx"/>
    <add key="REMIAccountName" value="rimnet\remi"/>
    <add key="REMIAccountPassword" value="qahUS8Ag"/>
    <add key="DefaultRedirectPage" value="~/scanfortest/default.aspx"/>
    <add key="Debug" value="true"/>
    <add key="RemiJobLink" value="Admin/Jobs.aspx"/>
    <add key="RemStarHostNames" value="station632,ci0000000097385,ci0000001593275,ci0000003603796"/>
    <add key="EnableFA100Message" value="False"/>
  </appSettings>
  <connectionStrings>
    <add name="REMSTARDBConnectionString" connectionString="Data Source=ci0000001593275;Initial Catalog=fastpic;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="TRSDBConnectionString" connectionString=" data source =(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=dbi00cnc-ptrs)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PTRS))); user id = RELIABILITY; password = H8Q5ZP9;Persist Security Info=True;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ADConnectionString" connectionString="LDAP://CN=Person,OU=Users,OU=Mfg,DC=rim,DC=net"/>
    <add name="REMIEntities" connectionString="metadata=res://*/REMIEntities.csdl|res://*/REMIEntities.ssdl|res://*/REMIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ci0000001593275;Initial Catalog=REMILocal;Integrated Security=True;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient"/>
    <add name="REMIDBConnectionString" connectionString="Data Source=ci0000001593275;Initial Catalog=REMILocal;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <roleManager enabled="true" defaultProvider="SqlRoleManager">
      <providers>
        <clear/>
        <add name="SqlRoleManager" type="System.Web.Security.SqlRoleProvider" connectionStringName="REMIDBConnectionString" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>