<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="REMSTARDBConnectionString" connectionString="Data Source=ci0000001593275;Initial Catalog=fastpic;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="TRSDBConnectionString" connectionString=" data source =(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=dbi00cnc-ptrs)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PTRS))); user id = RELIABILITY; password = H8Q5ZP9;Persist Security Info=True;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ADConnectionString" connectionString="LDAP://CN=Person,OU=Users,OU=Mfg,DC=rim,DC=net"/>
    <add name="REMIEntities" connectionString="metadata=res://*/REMIEntities.csdl|res://*/REMIEntities.ssdl|res://*/REMIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ci0000001593275;Initial Catalog=REMILocal;Integrated Security=True;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient"/>
    <add name="REMIDBConnectionString" connectionString="Data Source=ci0000001593275;Initial Catalog=REMILocal;Integrated Security=True;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>