<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="BaseTRSLink" value="http://go/trs"/>
        <add key="MfgWebLink" value="http://mfgweb/rimsouth/unitinformation?unitrpt=history&amp;ex_id="/>
        <add key="RemiBatchInfoLink" value="ScanForInfo/Default.aspx"/>
        <add key="RemiProductGroupLink" value="ScanForInfo/ProductGroup.aspx"/>
        <add key="RemiUnitInfoLink" value="ScanforInfo/Unit.aspx"/>
        <add key="RemiExceptionsLink" value="ManageBatches/EditExceptions.aspx"/>
        <add key="RemiSetBatchStatusLink" value="ManageBatches/modifystatus.aspx"/>
        <add key="RemiSetBatchCommentsLink" value="ManageBatches/modifyComments.aspx"/>
        <add key="RemiSetProductRFBandsLink" value="ManageProducts/editrfbands.aspx"/>
        <add key="RemiSetBatchPriorityLink" value="ManageBatches/modifyPriority.aspx"/>
        <add key="RemiSetBatchSpecificTestDurationsLink" value="ManageBatches/ModifyTestDurations.aspx"/>
        <add key="RemiSetTestUnitExceptionsLink" value="ManageTestUnits/edittestunitexceptions.aspx"/>
        <add key="RemiSetProductExceptionsLink" value="Manageproducts/editproductexceptions.aspx"/>
        <add key="RemiSetBatchTestStageLink" value="ManageBatches/modifyteststage.aspx"/>
        <add key="RemiSetBatchJobLink" value="ManageBatches/modifyJob.aspx"/>
        <add key="RemiTestRecordsEditDetailLink" value="testrecords/editdetail.aspx"/>
        <add key="RemiScannerProgrammingLink" value="manageteststations/ScannerCodes.aspx"/>
        <add key="RemiTrackingLocationInfoLink" value="manageteststations/TrackingLocation.aspx"/>
        <add key="RemiTestRecordsLink" value="testrecords/default.aspx"/>
        <add key="RemiTestRecordsAddLink" value="testrecords/add.aspx"/>
        <add key="RemiUserScanBadgeLink" value="badgeaccess/default.aspx"/>
        <add key="RemiUserAddSelfServiceLink" value="badgeaccess/adduser.aspx"/>
        <add key="REMIBatchYearLimit" value="0"/>
        <add key="REMIBatchNumberLimit" value="0"/>
        <add key="REMIAccountName" value="rimnet\remi"/>
        <add key="REMIAccountPassword" value="qahUS8Ag"/>
        <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
        <add key="DefaultRedirectPage" value="~/scanfortest/default.aspx"/>
        <add key="emailDistributionListsWithAccess" value="Reliability Assurance,Sunrise DSL,RIM-BOCHUM-HW-Verification,RIM-BOCHUM-HW-Verification Co-op,RIM-BO-HW-QA"/>
        <add key="usernamesOutsideOfDLsWithAccess" value="r8_rel_lab,s1_dsl_lab,dsl_lab,remi,cpilarek,dgrosse,rmaltchev,gguevara"/>
    </appSettings>
    <connectionStrings>
        <add name="REMSTARDBConnectionString" connectionString="Data Source=sql11ykf\hostedapps;Initial Catalog=fastpic;user id=FastPIc_User;password=XEWcOu+BvJk&quot;&gt;.FNamU_*@p2+" providerName="System.Data.SqlClient"/>
        <add name="REMIDBConnectionString" connectionString="Data Source=sql51ykf\ha6;Initial Catalog=remi;user id=remi;password=r!M has a twitT3r app" providerName="System.Data.SqlClient"/>
        <!--<add name="TRSDBConnectionString" connectionString="Data Source=PHQA_TAF.RIM.NET;Persist Security Info=True;User ID=RELIABILITY;Password=RELIABILITY;Unicode=True" providerName="System.Data.OracleClient"/>-->
        <add name="TRSDBConnectionString" connectionString=" data source =(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=dbm04cnc)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PTRS))); user id = RELIABILITY; password = H8Q5ZP9;Persist Security Info=True;Unicode=True" providerName="System.Data.OracleClient"/>
        <add name="ADConnectionString" connectionString="LDAP://CN=Person,OU=Users,OU=Mfg,DC=rim,DC=net"/>
    </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
