<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="UploadDirectory" value="~\UploadDir\"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000"/>
    <add key="ChartImageHandler" value="storage=memory;timeout=20;deleteAfterServicing=false;privateImages=false"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="10000"/>
    <add key="BaseTRSLink" value="http://go/trs"/>
    <add key="MfgWebLink" value="http://mfgweb/rimsouth/unitinformation?unitrpt=history&amp;ex_id="/>
    <add key="RemiBatchInfoLink" value="ScanForInfo/Default.aspx"/>
    <add key="RemiProductGroupLink" value="ScanForInfo/ProductGroup.aspx"/>
    <add key="RemiUnitInfoLink" value="ScanforInfo/Unit.aspx"/>
    <add key="RemiExceptionsLink" value="ManageBatches/EditExceptions.aspx"/>
    <add key="RemiSetBatchStatusLink" value="ManageBatches/modifystatus.aspx"/>
    <add key="RemiSetBatchPriorityLink" value="ManageBatches/modifyPriority.aspx"/>
    <add key="RemiSetBatchSpecificTestDurationsLink" value="ManageBatches/ModifyTestDurations.aspx"/>
    <add key="RemiSetTestUnitExceptionsLink" value="ManageTestUnits/edittestunitexceptions.aspx"/>
    <add key="RemiSetProductExceptionsLink" value="Manageproducts/editproductexceptions.aspx"/>
    <add key="RemiSetProductSettingsLink" value="Manageproducts/editproductsettings.aspx"/>
    <add key="RemiSetProductConfigLink" value="Manageproducts/editproductconfig.aspx"/>
    <add key="RemiSetStationConfigLink" value="ManageTestStations/editStationConfig.aspx"/>
    <add key="RemiSetBatchTestStageLink" value="ManageBatches/modifyteststage.aspx"/>
    <add key="RemiTestRecordsEditDetailLink" value="testrecords/editdetail.aspx"/>
    <add key="RemiScannerProgrammingLink" value="manageteststations/ScannerCodes.aspx"/>
    <add key="RemiTrackingLocationInfoLink" value="manageteststations/TrackingLocation.aspx"/>
    <add key="RemiTestRecordsLink" value="testrecords/default.aspx"/>
    <add key="RemiTestRecordsAddLink" value="testrecords/add.aspx"/>
    <add key="RemiUserScanBadgeLink" value="badgeaccess/default.aspx"/>
    <add key="REMIAccountName" value="rimnet\remi"/>
    <add key="REMIAccountPassword" value="Zaq12wsx"/>
    <add key="Debug" value="false"/>
    <add key="RemiJobLink" value="Admin/Jobs.aspx"/>
    <add key="EnableFA100Message" value="False"/>
    <add key="RequestGoLink" value="http://go/requests/"/>
  </appSettings>
  <connectionStrings>
    <add name="REMSTARDBConnectionString" connectionString="Data Source=ci0000001593275;Initial Catalog=fastpic;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="TRSDBConnectionString" connectionString=" data source =(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=dbi00cnc-ptrs)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PTRS))); user id = RELIABILITY; password = H8Q5ZP9;Persist Security Info=True;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ADConnectionString" connectionString="LDAP://CN=Person,OU=Users,OU=Mfg,DC=rim,DC=net"/>
    <add name="REMIEntities" connectionString="metadata=res://*/REMIEntities.csdl|res://*/REMIEntities.ssdl|res://*/REMIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=REMILocal;Integrated Security=True;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient"/>
    <add name="REMIDBConnectionString" connectionString="Data Source=localhost;Initial Catalog=REMILocal;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    
    <!--<add name="REMIEntities" connectionString="metadata=res://*/REMIEntities.csdl|res://*/REMIEntities.ssdl|res://*/REMIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQLQA10YKF\HAQA1;Initial Catalog=REMIQA;Integrated Security=True;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient" />
    <add name="REMIDBConnectionString" connectionString="Data Source=SQLQA10YKF\HAQA1;Initial Catalog=RemiQA;Integrated Security=True;" providerName="System.Data.SqlClient"/>-->
    
    <!--<add name="REMSTARDBConnectionString" connectionString="Data Source=sql11ykf\hostedapps;Initial Catalog=fastpic;user id=FastPIc_User;password=XEWcOu+BvJk&quot;&gt;.FNamU_*@p2+" providerName="System.Data.SqlClient"/>-->
    
    <!--<add name="REMIDBConnectionString" connectionString="Data Source=sql51ykf\ha6;Initial Catalog=remi;user id=remi;password=r!M has a twitT3r app" providerName="System.Data.SqlClient"/>
    <add name="REMIEntities" connectionString="metadata=res://*/REMIEntities.csdl|res://*/REMIEntities.ssdl|res://*/REMIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sql51ykf\ha6;Initial Catalog=Remi;;user id=remi;password=r!M has a twitT3r app;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--<add name="TRSDBConnectionString" connectionString="Data Source=PHQA_TAF.RIM.NET;Persist Security Info=True;User ID=RELIABILITY;Password=RELIABILITY;Unicode=True" providerName="System.Data.OracleClient"/>-->
  </connectionStrings>
  <system.web>
    <sessionState mode="StateServer" timeout="10" cookieless="false" stateConnectionString="tcpip=127.0.0.1:42424"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <authorization>
      <allow users="*"/>
    </authorization>
    <roleManager enabled="true" defaultProvider="SqlRoleManager">
      <providers>
        <clear/>
        <add name="SqlRoleManager" type="System.Web.Security.SqlRoleProvider" connectionStringName="REMIDBConnectionString" applicationName="/"/>
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Xml.Linq"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <authentication mode="Windows"/>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpRuntime executionTimeout="500" maxRequestLength="15000" requestValidationMode="2.0"/>
    <globalization culture="en-US" uiCulture="en-US"/>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <system.net>
    <defaultProxy>
      <proxy bypassonlocal="True" usesystemdefault="False"/>
    </defaultProxy>
  </system.net>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>